<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../views/css/navbar.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
      overflow-y: scroll;
      zoom: 90%;
      /* Adiciona um zoom de 90% */
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      text-align: center;
    }

    .scrollable-container {
      max-height: 500px;
      overflow-y: auto;
    }

    .navbar {
      background-color: #BADABE;
      color: #ffffff;
      padding: 1em;
    }

    .navbar-brand {
      font-family: fantasy;
      color: #025008;
      font-size: xx-large;
      font-style: italic;
    }

    .event-form-container {
      text-align: center;
      margin: 0 auto;
      padding-top: 90px;
      background-color: #ffffff;
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      font-weight: bold;
      display: block;
    }

    input {
      border-radius: 5px;
      border-color: rgba(185, 0, 185, 0.445)BE;
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    #sport,
    #hostTeam,
    #visitingTeam,
    #eventTime,
    #dateEvent,
    #eventsPlace {
      width: 100%;
    }

    .btn-submit {
      background-color: #1cac28;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-submit:hover {
      background-color: #0056b3;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    table,
    th,
    td {
      border: 1px solid #ddd;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    th,
    td,
    button {
      font-size: 14px;
    }

    button {
      background-color: #ff0000;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }

    .widget-tabela {
      height: 400px;
      overflow-y: scroll;
    }

    .col-lg-7 {
      background-color: #cc005f;
    }

    .linha {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      font-weight: bold;
    }

    .tabela {
      width: 80%;
      margin: 0 auto;
    }

    .notici {
      width: 90%;
      text-align: center;
      padding-left: 100px;
    }

    .titnoti {
      color: #1cac28;
    }

    .container-card {
      width: 80%;
      height: 20%;
      margin: 0 auto;
    }

    .card-text {
      text-align: end;
    }

    .card-with-background {
      width: 100%;
      height: 80%;
      background-image: url('');
      background-size: cover;
    }

    h2 {
      color: #1cac28;
    }

    .eventos-container {
      width: 80%;
      margin: 0 auto;
    }

    .table-container {
      background-color: #BADABE;
      color: #000;
      margin: 0 auto;
    }

    .table-container th,
    .table-container td {
      padding: 10px;
      border: 1px solid #ddd;
    }

    .table-container th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    footer {
      background-color: #BADABE;
      color: #ffffff;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    .copy_right {
      color: #ffffff;
      text-align: center;
    }
  </style>
</head>

<body>
  <br><br><br><br><br>
  <h1>Bem-vindo à Página de edição de eventos</h1>
  <img src="https://cursos.ifsp.edu.br/static/img/rodape/Marca_IFSP_2015_GRU-05.jpg" alt="Descrição da Imagem"
    width="90" height="90">
  <div class="scrollable-container">
    <table>
      <tr>
        <th>Esporte</th>
        <th>Time da Casa</th>
        <th>Pontuação da Casa</th>
        <th>Time Visitante</th>
        <th>Pontuação do Visitante</th>
        <th>Horário do Evento</th>
        <th>Data do Evento</th>
        <th>Local do Evento</th>
        <th>Ações</th>
      </tr>
      {{#each events}}
      <tr>
        <td>{{dataValues.sport}}</td>
        <td>{{dataValues.hostTeam}}</td>
        <td>{{dataValues.hostTeamScore}}</td>
        <td>{{dataValues.visitingTeam}}</td>
        <td>{{dataValues.visitingTeamScore}}</td>
        <td>{{dataValues.eventTime}}</td>
        <td>{{dataValues.dateEvent}}</td>
        <td>{{dataValues.eventsPlace}}</td>
        <td>
          <a href="/remove/{{dataValues.id}}">
            <button>Apagar</button>
          </a>
          <a href="/update/{{dataValues.id}}">
            <button>Atualizar</button>
          </a>
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  <div class="btn-container">
    <button class="btn-submit" onclick="window.location.href='/form'">Cadastrar evento</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
    crossorigin="anonymous"></script>
</body>

<footer>
  <p>Entre em contato conosco para obter suporte ou fazer perguntas.</p>
</footer>

</html>