<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color:  #333333;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      text-align: center;
    }

       .navbar {
      background-color: rgba(0, 0, 0, 0.699);
      color: #ffffff;
      padding: 1em;


    }

    .navbar-brand {
      font-family: fantasy;
      color: #00a30e;
      font-size: xx-large;
      font-style: italic;
    }

    .navbar-toggler{
    color: #00a30e;
    }

    .navbar-toggler-icon{
        color: #00a30e;
    }

    label {
      font-weight: bold;
      display: block;
    }

    input {
      border-radius: 5px;
      border-color: rgba(185, 0, 185, 0.445)BE;
    }

    #sport,
    #hostTeam,
    #visitingTeam,
    #eventTime,
    #dateEvent,
    #eventsPlace {
      width: 20%;
    }

    .btn-submit {
      background-color: #1cac28;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-submit:hover {
      background-color: #0056b3;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    table,
    th,
    td {
      border: 1px solid #000;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    td{
      color: #fff;
    }

    th,
    td,
    button {
      font-size: 14px;
    }

    button {
      background-color: #ff0000;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }

    .container-card {
      width: 80%;
      height: 20%;
      margin: 0 auto;
    }

    .card-text {
      text-align: end;
    }

    .card-with-background {
      width: 100%;
      height: 80%;
      background-image: url('');
      background-size: cover;
    }

    .eventos-container {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 100px;
    }

    .table-container {
      background-color: #333333;
      color: #000;
      margin: 0 auto;
      border-collapse: collapse;
      width: 100%;
    }

    .table-container th,
    .table-container td {
      padding: 10px;
      border: 1px solid #000;
    }

    .table-container th {
      background-color: #333333;
      font-weight: bold;
    }

    h1 {
      margin-top: 8px;
      margin-bottom: 8px;
      color: #fff;
    }

    h2 {
      color: #1cac28;
    }
table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
       border-radius: 10px;
    }

    table,
    th,
    td {
      border: 1px solid #ddd;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
    }

    th {
      background-color:  rgba(0, 0, 0, 0.699);;
    }

    th,
    td,
    button {
      font-size: 14px;
    }
        .table-container {
      background-color: #7a7a7a;
      color: #000;
      margin: 0 auto;
       border-radius: 20px;
      /* Centraliza a tabela no centro da página /
          border-collapse: collapse; / Remove espaçamento entre células da tabela /
          width: 100%; / Largura da tabela, ajuste conforme necessário */
    }

    /* Estilos para as células da tabela */
    .table-container th,
    .table-container td {
      padding: 10px;
      /* Espaçamento interno das células */
      border: 1px solid #333333;
       border-radius: 10px;
      /* Borda das células */
    }

    /* Estilos para o cabeçalho da tabela */
    .table-container th {
      background-color: #00a30e;
      /* Cor de fundo do cabeçalho */
      font-weight: bold;
      /* Texto em negrito no cabeçalho */
    }

    .filtro{
      
    }
   
  </style>
</head>

<body>
  <br><br><br><br><br>
  <h1>Bem-vindo à Página de eventos</h1>
  <div class="filtro">
     <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Esportes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" href="#">Basquete</a></li>
                            <li><a class="dropdown-item" href="#">Futebol</a></li>
                            <li><a class="dropdown-item" href="#">Volei</a></li>
                            <li><a class="dropdown-item" href="#">Handball</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Outros</a></li>
                        </ul>
                    </li>
  </div>
  <br><br>
  <div class="eventos-container">
    <h2>Eventos Próximos</h2>
    <div class="table-container">
      <table>
        <tr>
          <th>Esporte</th>
          <th>Time da Casa</th>
          <th>Pontuação Casa</th>
          <th>Time Visitante</th>
          <th>Pontuação Visitante</th>
          <th>Horário do Evento</th>
          <th>Local do Evento</th>
        </tr>

        {{#each events}}
        <tr>
          <td>{{dataValues.sport}}</td>
          <td>{{dataValues.hostTeam}}</td>
          <td>{{dataValues.hostTeamScore}}</td>
          <td>{{dataValues.visitingTeam}}</td>
          <td>{{dataValues.visitingTeamScore}}</td>
          <td>{{dataValues.eventTime}}</td>
          <td>{{dataValues.eventsPlace}}</td>
        </tr>
        {{/each}}

      </table>
    </div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>
</html>