<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Atualização de Evento</title>
  <style>
    center-button {
      display: block;
      margin: 0 auto;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color:  #333333;
    }


    .navbar {
      background-color: rgba(0, 0, 0, 0.699);
      color: #ffffff;
      padding: 1em;


    }

    .navbar-brand {
      font-family: fantasy;
      color: #00a30e;
      font-size: xx-large;
      font-style: italic;
    }
    .navbar-toggler{
    color: #00a30e;
    }

    .navbar-toggler-icon{
        color: #00a30e;
    }

    .offcanvas-body {
      background-color: #BADABE;
      padding: 30px;
    }

    .offcanvas-header {
      background-color: #BADABE;
    }

    .event-form-container {

     text-align: center;
            width: 50%;
            height: auto;
            border-radius: 15px;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 30px;
            background: rgba(0, 0, 0, 0.699);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(68, 126, 71, 0.1);
            backdrop-filter: blur(4.5px);
            -webkit-backdrop-filter: blur(4.5px);
            border: 1px solid rgba(51, 51, 51, 0.45);
    }

    .form-group {
      margin-bottom: 15px;
    }

    label {
      font-weight: bold;
      display: block;
    }

    input,
    textarea {
      width: 50%;
      height: 40px;
      border-radius: 10px;
    }

    .btn-submit {
      background-color: #1cac28;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin: 20px;
    }

    .btn-submit:hover {
      background-color: #034d00;
    }

    h1 {
      text-align: center;
      color: #025008;
      margin-top: 22px;
      font-family: sans-serif;
    }
  </style>
</head>

<body>
  <!-- Seu formulário de atualização de evento aqui -->
  <div class="event-form-container">
    <h1>Atualizar Eventos</h1>
    <form class="form" action="/update" method="POST">
      <input type="hidden" name="eventId" value="{{events.dataValues.id}}">
      <label for="eventTime">ID:</label>
      <input type="text" value="{{events.dataValues.id}}" name="eventId">
      <label for="eventTime">Esporte:</label>
      <input type="text" value="{{events.dataValues.sport}}" name="sport">
      <label for="hostTeam">Time da casa:</label>
      <input type="text" value="{{events.dataValues.hostTeam}}" name="hostTeam">
      <label for="visitingTeam">Time visitante:</label>
      <input type="text" value="{{events.dataValues.visitingTeam}}" name="visitingTeam">
      <label for="eventTime">Horário do evento:</label>
      <input type="time" value="{{events.dataValues.eventTime}}" name="eventTime">
      <label for="dateEvent">Data do evento (DD/MM/AAAA):</label>
      <input type="date" value="{{events.dataValues.dateEvent}}" name="dateEvent">
      <label for="eventsPlace">Local do evento:</label>
      <textarea name="eventsPlace">{{events.dataValues.eventsPlace}}</textarea>


      <!-- Adicione campos de pontuação -->
      <label for="hostTeamScore">Pontuação do time da casa:</label>
      <input type="number" value="{{events.dataValues.hostTeamScore}}" name="hostTeamScore">

      <label for="visitingTeamScore">Pontuação do time visitante:</label>
      <input type="number" value="{{events.dataValues.visitingTeamScore}}" name="visitingTeamScore">

      <!-- Mova o botão para baixo deste ponto -->
      <div>
        <button type="submit" class="btn-submit center-button">Atualizar evento</button>
      </div>
    </form>
  </div>

</body>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

</html>