<form action="/update" method="POST">
    <p>ID:</p>
    <input type="text" value="{{events.dataValues.id}}" name="eventId">
    <p>Esporte:</p>
    <input type="text" value="{{events.dataValues.sport}}" name="sport">
    <p>Time da casa:</p>
    <input type="text" value="{{events.dataValues.hostTeam}}" name="hostTeam">
    <p>Time visitante:</p>
    <input type="text" value="{{events.dataValues.visitingTeam}}" name="visitingTeam">
    <p>Horário do evento:</p>
    <input type="text" value="{{events.dataValues.eventTime}}" name="eventTime">
    <p>Data do evento:</p>
    <input type="text" value="{{events.dataValues.dateEvent}}" name="dateEvent">
    <p>Local do evento:</p>
    <textarea name="eventsPlace">{{events.dataValues.eventsPlace}}</textarea>
    <button type="submit" >Atualizar evento</button>
</form>