<p>Eventos:</p>
{{#each events}}

    <p>Esporte: {{dataValues.sport}}</p>
    <p>time da casa: {{dataValues.hostTeam}}</p>
    <p>time visitante:{{dataValues.visitingTeam}}</p>
    <p>horario do evento: {{dataValues.eventTime}}</p>
    <p>data do evento: {{dataValues.dateEvent}}</p>
    <p>local do evento: {{dataValues.eventsPlace}}</p>
    <a href="/remove/{{dataValues.id}}"><button>Apagar</button></a>
    <a href="/update/{{dataValues.id}}"><button>Atualizar</button></a>

{{/each}}


